<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Places You'll need to know</title>
 <link href="stylesheets/directions.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
		
	    <h1> 'Places You'll Need to Know'</h1>
	
	<div id="background">
	<img src="images/soccer.png" class="stretch" />	
	</div>
	
	<!--start of mainBodyContent div *********************************************************************************-->
    <div id="mainBodyContent">
        
        <!--start of mainContent_left div *********************************************************************************-->
        <div id="mainContent_left">
            <div id="mainContent_text">
                <span class="titleFont">Holland Wedding Map</span><br />
                
                <span class="mainContent_font">
	            <br>
	            A. Central Parking System
                <br>
                <br>

                B. W Hotel 
                <br>
                <br>
                C. South Branch (Wedding Spot)
               <br>
                </span> 
                    
          </div><!--close div "mainContent_bodyContent"-->
        </div><!--close div "mainContent_left"-->
        
        <!--start of mainContent_right div *********************************************************************************-->
        <div id="mainContent_right">
	
        
        <!--start of mapquest map code *********************************************************************************-->
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=500+West+Monroe+Street,+Chicago,+IL&amp;daddr=The+W+Hotel,+West+Adams+Street,+Chicago+to:South+Branch+Tavern+and+Grill,+100+South+Wacker+Drive,+Chicago,+IL&amp;hl=en&amp;geocode=Fc0MfwIdv7XG-iGsLO9PdIlAQCl1aEGmVdMPiDGsLO9PdIlAQA%3BFbkHfwIdWtPG-iHwoCm44k1DDilhg-cbvCwOiDHwoCm44k1DDg%3BFboLfwIds8DG-iESNNlmRB7f8SlP8DetuCwOiDESNNlmRB7f8Q&amp;aq=1&amp;oq=500+W.+Monroe,+Chicago+IL&amp;sll=41.880335,-87.634525&amp;sspn=0.004138,0.008798&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=41.882023,-87.634506&amp;spn=0.011183,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=500+West+Monroe+Street,+Chicago,+IL&amp;daddr=The+W+Hotel,+West+Adams+Street,+Chicago+to:South+Branch+Tavern+and+Grill,+100+South+Wacker+Drive,+Chicago,+IL&amp;hl=en&amp;geocode=Fc0MfwIdv7XG-iGsLO9PdIlAQCl1aEGmVdMPiDGsLO9PdIlAQA%3BFbkHfwIdWtPG-iHwoCm44k1DDilhg-cbvCwOiDHwoCm44k1DDg%3BFboLfwIds8DG-iESNNlmRB7f8SlP8DetuCwOiDESNNlmRB7f8Q&amp;aq=1&amp;oq=500+W.+Monroe,+Chicago+IL&amp;sll=41.880335,-87.634525&amp;sspn=0.004138,0.008798&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=41.882023,-87.634506&amp;spn=0.011183,0.018239&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>
         </div><!--close div "mainContent_right"-->
   
    </div><!--close div "mainBodyContent"-->
    
    </div><!--close div "backgroundImage"-->
        
        <!--start of nav div *********************************************************************************-->
	</body>
	</html>
