<h1>A Few Of Our Favorite Things</h1>

<style>

h1 {font-size: 80px;
text-align: center;
font-family: cursive;
margin-top: 50px;
letter-spacing: -1px;
color: #8B668B;
text-shadow: 3px 1px 0 white,
             4px 1px 0 red;
}

#background { 
	height: 100%; 
	width: 100%; 
	position: fixed; 
	left: 0px; 
	top: 0px; 
	z-index: -1; 
	}
.stretch { 
	height: 100%; 
	width: 100%; 
	}
	
</style>

<div id="background">
<img src="assets/FavThings.jpg" class="stretch" />
</div>
