<h3>August 18th 2012</h3>

<style>

#background { 
	height: 100%; 
	width: 100%; 
	position: fixed; 
	left: 0px; 
	top: 0px; 
	z-index: -1; 
	}
.stretch { 
	height: 100%; 
	width: 100%; 
	}
	
h1 {
	font-size: 80px;
	margin-top: 80px;
	font-family: sans-serif;
	letter-spacing: -1px;
	color: red;
	text-shadow: 3px 1px 0 white,
	             4px 1px 0 black;
}

h3 {
	font-family: cursive;
	color: white;
	font-size: 30px;
	padding-left: 640px;
	margin-top: 280px;
	
}
	
</style>

<div id="background">
<img src="assets/Beach.jpg" class="stretch" />
</div>