<style>

body { margin: 0px:
	}


h1  {
	font-size: 80px;
	text-align: center;
	font-family: cursive;
	margin-top: 50px;
	letter-spacing: -1px;
	color: #8B668B;
	text-shadow: 3px 1px 0 white,
	             4px 1px 0 red; 
	
}

#box { 
	width: 1050px;
	height: 780px;
	font-size: 20px;
	background: black;
	margin-left: 100px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	opacity: 0.7;
	position: relative;
	top: 0px;
	bottom: 500px;
	left: 0px;
	font-family: 'Waiting for the Sunrise', cursive;
	
	}
	
.lauren { 
	color: #F8F8FF;
}

.tom {
	color: #BDB768;
}
	





</style>


<h1>Story</h1>

<link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
<div id="box">
<div class="tom">
	<p> I have a vague memory of the first time I laid eyes on Ms. Lauren Martin. 
	It was 1997; I had recently stepped up my game by getting my left ear pierced, mom purchased me some fresh Tommy Hilfiger cargo shorts and I had just recently watched 'Swingers' .... The incoming freshman had no chance!</p>
	
<p> It was the 3rd day of school and the fellas and I were coming back from dominating Tony V's for our lunch hour. Probably flipping off cops and smoking cigs ... the ush. Walking across the courtyard there was a large group of HB's (hot babes) chilling out. I recognized one from my neighborhood so I had an in. I engaged, nailed a killer joke and had won over the group. That's when I noticed this little blonde thing feeling my vibe.</p></div>

<div class="lauren">
	<p> Whoa, Whoa! I apologize, he really does mean well but sometimes his delusions get the best of him. Let me tell you how this really happened.
Some of my girlfriends and I were hanging out in the courtyard during 5th period lunch, just taking everything in. Everything was strange new and exciting. After all, it was my 3rd day of high school. Near the end of lunch I noticed this guy chatting up one of my recently acquired freshman friend and next thing I know he interrupts the group with some lame reference martial arts. We all kind of awkwardly looked at each other and then I noticed the perputrator looking my way. I kindly gave him a half-ass smile which seemed to do the job because he quickly left. Yep, you guessed it, he immediately hi-5'd his friend and glanced toward our direction again. GREAT .... so this was high school?   
</p></div>

<div class="tom"><p> After that first encounter I would notice Tom around school. He quickly grew on me because of his bravado and smooth demeanor.</p></div>


<div class="lauren"><p>Alright, I'm back <em>Tom</em> got ahold of the keyboard again. 
	For real though, Tom had eczema which caused him to have red cheeks in high school. Well it may have gave Tom a hard time, I thought it was the cutest thing in the world.</p>
	
<p> So that was over 15 years ago and though we never officially dated back then we always had unspoken love and trust which only grows stronger everyday</p></div>
</div>
	 

