<h1>Wedding Party</h1>

<style> 

<table style=”border:none;”>
<td style=”border:none;”>

#images_hz {

width: 700px;
height: auto;
overflow: hidden;
}

#images_hz img {
float: left;
margin: 0 10px;
}

img {
	height: 450px;
	width: 660px;
}

td { 
	width: 510px;
	}

p {
	text-align:center;
}



</style>




<table>
<tr>
<td><a href="/images/image.jpg"><img src="assets/Brett.jpg"     alt="image" /></a>
	<br /><p>Brett Rapaport * We were enemies before friends. Since they say to keep your enemies closer, I've made him my best man! In college we were referred to as the Butavi brothers (EMILO!). Since we've aged, we're just good old Larry and Barry.</p></td>
<td><a href="/images/image.jpg"><img src="assets/court.jpg"     alt="image" /></a>
    <br /><p>Courtney Hough</p></td>
</tr>

<tr>
<td><a href="/images/image.jpg"><img src="assets/Zac.jpg"     alt="image" /></a>
	<br /><p>Zac Mau doesn't only have an asian sounding name but privates to match. He'll punch you in the throat then tell you he loves you. He once tried to throw a jellyfish on my chest which resulted in him getting stung and graced with renowned Holland urine.</p></td>
<td><a href="/images/image.jpg"><img src="assets/sarah.jpg"     alt="image" /></a>
    <br /><p>Sarah Roche</p></td>
</tr>

<tr>
<td><a href="/images/image.jpg"><img src="assets/Steve.jpg"     alt="image" /></a>
	<br /><p>Steve Garland is my oldest and loose-lipped friend. His hobbies include quoting 80's action movies, roughing up teenagers and calculated interruptions.</p></td>
<td><a href="/images/image.jpg"><img src="assets/aly.jpg"     alt="image" /></a>
    <br /><p>Alley McDermott</p></td>
</tr>

<tr>
<td><a href="/images/image.jpg"><img src="assets/wong.jpg"     alt="image" /></a>
	<br /><p>Chris Wong -- the slick asian in our crew. Due to affirmative action he has landed in the wedding party. Chat Wong up about Boston Terriers, Hawaii or 80's ballads and you'll have a friend for life.</p></td>
<td><a href="/images/image.jpg"><img src="assets/howe.jpg"     alt="image" /></a>
    <br /><p>Sarah Howe</p></td>
</tr>

<tr>
<td><a href="/images/image.jpg"><img src="assets/adam.jpg"     alt="image" /></a>
	<br /><p>Adam Szudarski -- Lock up the men and children Adam will likely be looking to pull. Adam can slang a drink like a pro with the air of superiority to match. Ask Adam about David Swimmer and you'll get met with a half-ass hi-five.</p></td>
<td><a href="/images/image.jpg"><img src="assets/nikki.jpg"     alt="image" /></a>
    <br /><p>Nikki Martin (1 in the middle)</p></td>
</tr>

<tr>
<td><a href="/images/image.jpg"><img src="assets/brian.jpg"     alt="image" /></a>
	<br /><p>My brother-in-law Brian Splitt has served our country which had to be a cake walk compared to marrying my sister. I kid I kid. Brian embraces the Holland way of life and will be the McSteamy looking dude walking around.</p></td>
<td><a href="/images/image.jpg"><img src="assets/Lauren.jpg"     alt="image" /></a>
    <br /><p>Lauren Splitt</p></td>
</tr>

<tr>
<td><a href="/images/image.jpg"><img src="assets/Brian1.jpg"     alt="image" /></a>
	<br /><p>My soon to be brother-in-law Brian Martin knows more than anyone what I'm getting myself into. Talk about your love for Chicago Sports but I wouldn't mention the Cubs unless you'd like to get pantsed. </p></td>
<td><a href="/images/image.jpg"><img src="assets/stacy.jpg"     alt="image" /></a>
    <br /><p>All the way from San Francisco ~ Stacey Weiss</p></td>
</tr>


</table>